@media screen and (width<=972px) {
  .statement-width {
    width: 95vw !important;
  }
}

@media screen and (width<=644px) {
  .statement-width {
    width: 93vw !important;
  }
}


@media screen and (width<=504px) {
  .statement-width {
    width: 89vw !important;
  }
}
