@tailwind base;
@tailwind components;
@tailwind utilities;

.light-shadow:focus,
.light-shadow:hover,
.light-shadow-normal {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.light-shadow-normal-1 {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}



.light-shadow-md:hover {
  box-shadow: 2px 1px 7px 1px rgba(0, 0, 0, 0.23);
}

.light-shadow-arrow {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.light-blue-shadow:hover,
.light-blue-shadow:focus {
  box-shadow: 0 0 6px 1px rgb(71, 175, 198);
}
